{% extends 'base.html.twig' %}

{% block title %}Go Eat
{% endblock %}

{% block body %}
	<div class="searchBar-container"><input type="text" id="searchBar" placeholder="Ville, type, restaurant"></div>
	<ul class="restaurateur" id="restaurateur"></ul>
	{% set listerestaurants = [] %}
	{% for r in restaurants %}
		{% set listerestaurants = listerestaurants | merge([{id: r.id, raisonSociale: r.raisonSociale, ville:r.ville ,type: r.type ? r.type.nom}]) %}
	{% endfor %}
	<input type="hidden" data-restaurants="{{ listerestaurants|json_encode }}">

	<script>
		const searchBar = document.getElementById('searchBar');
		const restaurateursContainer = document.getElementById('restaurateur');
		const restaurants = JSON.parse(document.querySelector('[data-restaurants]').dataset.restaurants);
		console.log(restaurants);

		searchBar.addEventListener('keyup',()=>afficherRestaurants(restaurants));
		
		function filtrerRestaurants(){
			restaurateursContainer.innerHTML = '';
			const value = searchBar.value;
			console.log(value);

			return restaurants.filter(r=>
				r.raisonSociale.toLowerCase().includes(value.toLowerCase()) ||
				r.ville.toLowerCase().includes(value.toLowerCase()) ||
				r.type.toLowerCase().includes(value.toLowerCase())
			);
		}

		function afficherRestaurants(restaurants){
			filtrerRestaurants(restaurants).forEach(r=>{
				const idRestaurant = r.id;
				let url = '{{path('restaurant_show', {'id':'idRestaurant'}) }}';
				url = url.replace("idRestaurant", idRestaurant);
				const newRestaurant = `
				<li class="unRestau">
					<div class="vitrine"><img></div>
					<div class="detail">
						<span class="titleRestau">${r.raisonSociale}</span>
						<button> <a href="${url}">Afficher la carte</a></button>
					</div>
				</li>`;
				restaurateursContainer.insertAdjacentHTML('beforeend',newRestaurant);
			});
		}

		afficherRestaurants(restaurants);
	</script>

	<style>
		.searchBar-container{
			width: fit-content;
			margin: 1em auto;
		}
		.searchBar-container input{
			font-size: 2em;
			padding: 0.5em;
			border-radius: 1em;
			text-align: center;
		}
		.restaurateur {
			width: 80%;
			margin: 50px auto;
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
		}
		.unRestau {
			list-style-type: none;
			height: 400px;
			width: 30%;
			border: 2px solid black;
			margin: 15px auto;
		}
		.vitrine {
			width: 95%;
			height: 65%;
			margin: 2% auto;
			border: 2px solid black;
		}
		.detail {
			display: flex;
			flex-direction: column;
			align-items: center;
			align-content: center;
			margin: 5px;
		}
		.titleRestau {
			margin: 15px;
			font-size: 17px;
			font-family: roboto;
			font-weight: 600;
		}
		.restaurateur button {
			width: 85%;
			font-family: roboto;
			background-color: #acace7;
			border-radius: 5px;
			border: 1px solid black;
			font-size: 18px;
			padding: 10px;
		}
	</style>

{% endblock %}
