{% extends 'base.html.twig' %}

{% block title %}Go Eat
{% endblock %}

{% block body %}
	<ul class="restaurateur">
		{% for restaurant in restaurants %}
			<li class="unRestau">
				<div class="vitrine"><img></div>
				<div class="detail">
					<span class="titleRestau">{{ restaurant.raisonSociale }}</span>
					<button> <a href="{{path('restaurant_show', {'id':restaurant.id}) }}">Afficher la carte</a></button>
				</div>
			</li>
		{% endfor %}
	</ul>

	<style>
		.restaurateur {
			width: 80%;
			margin: 100px auto;
			display: flex;
			justify-content: space-evenly;
		}
		.unRestau {
			list-style-type: none;
			height: 400px;
			width: 30%;
			border: 2px solid black;
		}
		.vitrine {
			width: 95%;
			height: 65%;
			margin: 2% auto;
			border: 2px solid black;
		}
		.detail {
			display: flex;
			flex-direction: column;
			align-items: center;
			align-content: center;
			margin: 5px;
		}
		.titleRestau {
			margin: 15px;
			font-size: 17px;
			font-family: roboto;
			font-weight: 600;
		}
		.restaurateur button {
			width: 85%;
			font-family: roboto;
			background-color: #acace7;
			border-radius: 5px;
			border: 1px solid black;
			font-size: 18px;
			padding: 10px;
		}
	</style>

{% endblock %}
