.plat {
  width: 50%;
  display: flex;
  height: 500px;
  margin: 50px auto;
  align-items: center;
  font-family: cursive;
  justify-content: center;
  flex-direction: column;
}

.plat .imagePlat {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plat .textePlat {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plat .imagePlat img {
  height: 90%;
  border-radius: 14%;
}

.plat .nom {
  font-weight: bold;
  text-transform: uppercase;
}

.plat .prix {
  font-weight: bold;
}

.plat a {
  border: 1px black solid;
  background-color: #acace7;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 4%;
  margin: 10px auto 0;
  border-radius: 5%;
}
