{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form/form.css') }}">
{% endblock %}

{% block body %}
    {{ include('client/_form.html.twig', {'button_label': 'Valider'}) }}
    <datalist id="listeville">
		{% for ville in villes %}
			<option value="{{ville.nom}}">{{ville.nom}}</option>
		{% endfor %}
	</datalist>
{% endblock %}
