
.form-register-profession, .form-register-roles{
    margin: 10px auto;
    text-align: center;
    padding: 14px 10px;
}

#registration_form_professionnel, #registration_form_roles{
    margin-left: 15px;
}