{% extends 'base.html.twig' %}

{% block title %}New Restaurant{% endblock %}

{% block body %}
    <h1>Create new Restaurant</h1>

    {{ include('restaurant/_form.html.twig') }}
	<datalist id="listeville">
		{% for ville in villes %}
			<option value="{{ville.nom}}">{{ville.nom}}</option>
		{% endfor %}
	</datalist>

    <a href="{{ path('restaurant_index') }}">back to list</a>
{% endblock %}
