{% extends 'base.html.twig' %}

{% block title %}Plat{% endblock %}

{% block body %}
<style>

.plat {
     width: 50%;
    display: flex;
    height: 500px;
    margin: 50px auto;
    align-items: center;
    font-family: cursive;
    justify-content: center;
    flex-direction: column;
}

.plat .imagePlat {
        height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plat .textePlat {
       height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plat .imagePlat img {
    height: 90%;
    border-radius: 14%;
}

.plat .nom {
    font-weight: bold; 
    text-transform: uppercase; 
}

.plat .description {

}

.plat .prix {
    font-weight: bold; 
}

.plat img {
    
}

</style>
    

   
   <fieldset class="plat">

   <div class="imagePlat">
     <img src="{{asset("images/plat/"~ plat.photo)}}">
    </div>
    
    <div class="textePlat">
    <span class="nom">{{ plat.nom }}</span>
    <span class="description"> {{plat.description}}</span>
    <span class="prix">{{plat.prix}} €</span>
    </div>

 
    </fieldset>




    
{% endblock %}
